/* 

Paleta usada:

#214D5F - Azul ciano
#ADAFB9 - Cinza Escuro
#D7D8DD - Cinza claro

Fonte Usada:

font-family: 'Source Code Pro', monospace;

*/
/*Construindo a navbar*/
html, body{
    margin: 0;
    height: 100%;
}
#navbar-principal{
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    background-color:#214D5F;
    margin: 0;
    padding: 0;
}
.li-nav, .a-nav{
    float: left;
    text-align: center;
    text-decoration: none !important;
    display: block;
    padding: 15px 20px;
    color: #D7D8DD;
    font-family: 'Sen', sans-serif;
}
.li-nav:hover, .a-nav:hover{
    background-color: #E4FEFF;
    color: #214D5F; 
}
/*Navbar terminada*/

/*Grade de itens do index.html*/
.grade-item-index{
    padding-top: 50px;
    text-align: center;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}
/*Cor de fundo*/
body{
    background-color: #D7D8DD;
}
#opcoes{
    cursor: pointer;
}
.titulo-opc{
    font-size: 1.5em;
}
/*Estilizando as opções de clique do index.html*/
#oqerobo-click, #oqeti-click{
    text-decoration: none;
    color: #000;
}
.grid-ti-robo{
    display: grid;
    grid-template-columns: 30% 70%;
}
/*Estilizando as páginas ti.html e robotica.html*/

.texto-ti-robo{
    width: 100%;
    padding: 50px;
    text-align: left;
    font-size: 1.3em;   
}

.fundo-texto{
    color: #000;
    padding: 20px 25px;
    background-color: #ADAFB9;
    border-radius: 5px;
}
#titulo-ti-robo{
    text-align: center;
    padding: 50px 20px;
}
.prox-pag{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.imagem-ti-robo{
    padding-top: 50px;
    padding-left: 20px;
}
/*Estilização do ti.html e robotica.html terminada*/

/*Estilizando a página robotica-educacao.html*/
#titulo-robo-edu{
    padding: 50px 50px; 
    text-align: center;
}
#imagem-robo-edu{
    padding-left: 20px;
    padding-right: 20px;
}
#img2-robo-edu{
    padding-left: 20px;
    padding-bottom: 50px;
}
#titulos{
    padding-top: 50px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
#born-d{
    background-color: #000;
    color: #fff;
}
#grid-seymour-papert{
    display: grid;
    grid-template-columns: 40% 60%;
    padding-bottom: 30px;
    
}
#foto-seymour{
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 50px;
}
/*Estilização do robotica-educacao.html terminada*/

/*Estilizando a página conclusao.html*/

#conteudo{
    /* background-image: url("./imagens/fundo-conclusao.jpg"); */
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    padding: 5em;
    opacity: 0.8;
}

.conteudo_item{
    width: 50%;
}
.conteudo_item:nth-child(2){
    padding: 1.5em;
    background-color: #ADAFB9;
    color: black;
    font-size: 1.1em;
    line-height: 1.6em;
    margin-left: 1.5em;
    text-align: justify;
    font-family: 'Sen', sans-serif;
}
.conteudo_subitem h1{
    margin: 0px;
}
.conteudo_subitem{
    background-color: #214D5F; 
    color: white;
    font-size: 3em;
    display: flex;
    padding: 0.5em;
}
#rodape{
    background-color: #214D5F;
    color: white;
    line-height: 0.3;
    padding: 1.1em;
    display: flex;
    justify-content: space-around;
}
#rodape_item:nth-child(1), #rodape_item:nth-child(3){
    align-self: center;
}
/*Estilização conclusao.html terminada*/
/*Estilizando da grade dos posts*/
#grid-posts{
    padding-top: 35px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#titulo-posts{
    text-align: center;
    font-size: 1.34em;
    padding-top: 50px;
    padding-bottom: 20px;
}
#titulo-posts-2{
    text-align: center;
    font-size: 1.34em;
    padding-top: 50px;
}
#link-posts{
    text-decoration: none;
    color: #D7D8DD; 
    width: 10em;
    background-color: #214D5F;
}
#conteudo-links{
    text-align: center;
}
/*Terminada a estilização da grade dos posts*/
/*Estilização da página dos posts*/
.titulo-pag-posts{
    padding-top: 50px;
    text-align: center;
}
/*Terminada a estilização da página dos posts*/
