/* 

Paleta usada:

#9EBBBD - Cinza Escuro
#00A9BB - Azul esverdeado
#E4FEFF - Azul claro
#E6F4F1 - Cinza claro

Fonte Usada:

font-family: 'Source Code Pro', monospace;

*/
/*Construindo a navbar*/
#navbar-principal{
    list-style-type: none;
    overflow: hidden;
    background-color:#00A9BB;
    margin: 0;
    padding: 0;
}
.li-nav, .a-nav{
    float: left;
    text-align: center;
    text-decoration: none !important;
    display: block;
    padding: 15px 20px;
    color: #E6F4F1;
    font-family: 'Sen', sans-serif;
    
}
.li-nav:hover, .a-nav:hover{
    background-color: #E4FEFF;
    color: #00A9BB; 
}
/*Navbar terminada*/

/*Grade de itens do index.html*/
.grade-item-index{
    padding-top: 50px;
    text-align: center;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}
/*Cor de fundo*/
body{
    background-color: #E6F4F1;
}
#opcoes{
    cursor: pointer;
}
.titulo-opc{
    font-size: 1.5em;
}
/*Estilizando as opções de clique do index.html*/
#oqerobo-click, #oqeti-click{
    text-decoration: none;
    color: #000;
}
/*Grade de itens do ti.html*/
.grid-ti{
    display: grid;
    grid-template-columns: 30% 70%;
}
/*Estilizando a página ti.html*/
#img-ti{
    width: 100%;
}
#texto-ti{
    padding: 50px;
    text-align: left;
    font-size: 1.8em;
    
}
#fundo-texto{
    color: #000;
    padding: 20px 25px;
    background-color: #9EBBBD;
}
/*Estilização do ti.html terminada*/
